<a href="https://colab.research.google.com/github/cchen744/uhi-extreme-heat-response/blob/Branch2/notebooks/02_uhi_extreme_heat_response.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In notebook 01, we have finished data preprocessing and output cleaned dataset containing urban temp, rural ring temp, as well as extreme heat.
In this notebook, we will use Chicago as a sample city to test whether extreme heat would contribute to the change in UHI.

In [10]:
import pandas as pd
import numpy as np

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
df = pd.read_csv("/content/drive/MyDrive/chicago_monthly_temp_data/chicago_daily_SUHI_urban_vs_ringrural.csv")

In [8]:
df.head()

         date      SUHI    LST_urb    LST_rur  urban_n  rural_n  is_extreme
0  2013-06-02  0.714494  15.614281  14.899787     1217     2321           0
1  2013-06-03  0.228212   5.282349   5.054137     4615     2600           0
2  2013-06-04  0.729897   8.859029   8.129132     1109     3914           0
3  2013-06-05  0.162566   9.907543   9.744976      442      674           0
4  2013-06-07  0.420110  10.162906   9.742796      497     1232           0

In [12]:
df_chicago = df.sort_values("date").copy()

# 1) percentile only (no consecutive)
for p in [85, 90, 92.5, 95]:
    thr = np.percentile(df_chicago["LST_urb"], p)
    n = (df_chicago["LST_urb"] >= thr).sum()
    print("percentile", p, "days:", n)

# 2) absolute thresholds
for t in [22, 24, 26, 30, 35]:
    n = (df_chicago["LST_urb"] >= t).sum()
    print("abs >=", t, "C days:", n)

percentile 85 days: 257
percentile 90 days: 172
percentile 92.5 days: 129
percentile 95 days: 86
abs >= 22 C days: 29
abs >= 24 C days: 5
abs >= 26 C days: 1
abs >= 30 C days: 0
abs >= 35 C days: 0